server:
  port: 8888

spring:
  application:
    name: server-config
  profiles:
    active: native
  cloud:
    config:
      server:
        git:
          uri: config
#  cloud:
#    config:
#      server:
#        native:
#          search-locations: classpath:/config